/* Colours: Coolors.co
F7B267;
F79D65;
F4845F;
F27059;
F25C54;
*/

body{
    font-family: 'Amatic SC', cursive;
    background-color: #191a1b;
    display: flex;
    justify-content: center;
}

main{
    width: 50vw;
    min-height: 110vh;
    padding: 20px;
    background-color:  #F7B267;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex-grow: 0.2;
}

h1{
    border: 2px solid black;
    font-size: max(4vmax, 30px);
    margin-top: 2vmin;
    text-align: center;
    background-color: #F25C54;
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
}

h2{
    font-size: max(2vmax, 20px);
    border-bottom: 2px solid #191a1b;
}

 .weapons{
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
} 

.card{
    padding-top: 20px;
    border: 2px solid black;
    background-color: #F25C54;
    width: 120px;
    height: 200px;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    background-color: #F79D65;
    border: 2px solid #df4840;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}

.card.scissors img{
    width: 80px;
}

